src/main/mule/customer-xapi-raml.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
   <flow name="customer-xapi-raml-main">
        <http:listener config-ref="customer-xapi-raml-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="customer-xapi-raml-config" />
        <error-handler ref="global-errorError-handler-apikit">
            
        </error-handler>
    </flow>
    <flow name="customer-xapi-raml-console">
        <http:listener config-ref="customer-xapi-raml-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="customer-xapi-raml-config" />
        <error-handler ref="global-errorError-handler-apikit">
            
        </error-handler>
    </flow>
    <flow name="post:\customers:application\json:customer-xapi-raml-config">
       <flow-ref doc:name="Flow Reference Inisialize Request Data" doc:id="97931b22-1262-4c4c-9dea-ec68fe2a07c6" name="initialize-request-data-subFlow"/>
		<flow-ref doc:name="Flow Reference get-customer-implementationFlow" doc:id="395d2bd7-64e9-47f5-97e7-fea37bec8598" name="post-customer-implementationFlow"/>
    <error-handler ref="global-errorError-handler-app"/>
    </flow>
</mule>
